# Migration Type
MIGRATION_TYPE=milvus-to-endee-dense
MAX_QUEUE_SIZE=5
# • qdrant-to-endee-dense
# • qdrant-to-endee-hybrid
# • milvus-to-endee-dense
# • milvus-to-endee-hybrid

IS_MULTIVECTOR=false
SOURCE_URL=
SOURCE_PORT=
SOURCE_API_KEY=
SOURCE_COLLECTION=
USE_HTTPS=true
FILTER_FIELDS=


# Endee Target Configuration
# TARGET_URL=
TARGET_API_KEY=
TARGET_COLLECTION=

# Performance Settings

BATCH_SIZE=1000 # FETCH BATCH SIZE ( NO. OF VECTORS IN A BATCH FROM QDRANT/MILVUS)
UPSERT_SIZE=1000 # UPSERT BATCH SIZE (INTO ENDEE)

# Checkpoint Configuration
CHECKPOINT_FILE=/app/data/checkpoints/migration.json
CLEAR_CHECKPOINT=true

# Debug
DEBUG=false
PRECISION=INT16