# Migration Type
FROM_DB=qdrant         # qdrant | milvus | chroma
TO_DB=endee
SOURCE_TYPE=dense      # dense | hybrid
TARGET_TYPE=dense      # dense | hybrid
MAX_QUEUE_SIZE=5

# Sparse settings (only for hybrid migrations)
# SPARSE_ALGO=endee/bm25
# SPARSE_TEXT_FIELD=text
# SPARSE_MODEL=default

IS_MULTIVECTOR=false

# Source Configuration
# FOR QDRANT
USE_HTTPS=true
SOURCE_URL=            # http://<SOURCE_IP>
SOURCE_PORT=           # 6333
# SOURCE_API_KEY=
SOURCE_COLLECTION=
FILTER_FIELDS=

# FOR MILVUS
# SOURCE_DB=default

# Endee Target Configuration
TARGET_URL=            # http://<ENDEE_IP>:8080
# TARGET_API_KEY=
TARGET_COLLECTION=

# Performance Settings

# FETCH BATCH SIZE (no. of vectors per batch from source DB)
BATCH_SIZE=1000
# UPSERT BATCH SIZE (into Endee)
UPSERT_SIZE=1000

# Checkpoint Configuration
CHECKPOINT_FILE=/app/data/checkpoints/migration.json
RESUME=false

# Debug
DEBUG=false
PRECISION=int16
M=16
EF_CONSTRUCT=128
SPACE_TYPE=cosine
