# Migration Type
MIGRATION_TYPE=milvus-to-endee-dense
MAX_QUEUE_SIZE=5
# • qdrant-to-endee-dense
# • qdrant-to-endee-hybrid
# • milvus-to-endee-dense
# • milvus-to-endee-hybrid

IS_MULTIVECTOR=false
SOURCE_URL= # http://<QDRANT_IP>
SOURCE_PORT= # 6333
SOURCE_API_KEY= 
SOURCE_COLLECTION=
USE_HTTPS=true
FILTER_FIELDS=


# Endee Target Configuration
# TARGET_URL= # http://<ENDEE_IP>:8080
TARGET_API_KEY=
TARGET_COLLECTION=

# Performance Settings

# FETCH BATCH SIZE ( NO. OF VECTORS IN A BATCH FROM QDRANT/MILVUS)
BATCH_SIZE=1000 
# UPSERT BATCH SIZE (INTO ENDEE)
UPSERT_SIZE=1000 

# Checkpoint Configuration
CHECKPOINT_FILE=/app/data/checkpoints/migration.json
RESUME=false

# Debug
DEBUG=false
PRECISION=INT16 
M=16
EF_CONSTRUCT=128
SPACE_TYPE=cosine